html
  head
  body
    ul
      li: a.link(href="start-all-sensors") Start All Sensors
      li: a.link(href="stop-all-sensors") Stop All Sensors
      li: a.link(href="sync-all-sensors") Sync All Sensors
      li: a.link(href="reactivate-core") Reactivate Core
      li: a.link(href="push-msg") Push Message
      li: a.link(href="sync-config") Sync Config
